<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark green darken-4">
    <a class="navbar-brand" href="#"><strong>G-L</strong></a>
      <a class="text-light" href="#"><strong>GET_LETTER</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-6"
      aria-controls="navbarSupportedContent-6" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent-6">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JKUAT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">More </a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-6">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">FAQ</a>
          </div>
        </li>  
      </ul>
    </div>
  </nav>
</div>


<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Names</th>
          <th scope="col">Email</th>
          <th scope="col">Programme</th>
          <th scope="col">Intake-Year</th>
          <th scope="col">Status</th>
          <th scope="col">Approve</th>
        </tr>
      </thead>
      <tbody>
        <% for(i in data){ %>
          <% if(!(data[i].is_admin)) { %>
        <tr>
          <th scope="row"><%=  i %></th>
          <td><%= data[i].f_name %></td>
          <td><%= data[i].email %></td>
          <td><%= data[i].programme %></td>
          <td><%= data[i].intake_year %></td>

          <% if(data[i].is_requested) { %>
            <td>REQUESTED</td>
          <% }else if(data[i].is_approved) { %>
            <td>APPROVED</td>
          <% }else if(data[i].is_attached) { %>
            <td>ATTACHED</td>
          <% }else { %>
            <td>SLEEP...</td>
          <% } %>

          <td>
            <% if(data[i].is_requested) { %>
              <div class="btn-group btn-group-sm">
              <a href="/d/admin/approve/<%= data[i].user_id%>"><button type="button" class="btn btn-sm btn-success"><em class="approve"></em></button></a> 
              <a href="/d/admin/disApprove/<%= data[i].user_id%>"><button type="button" class="btn btn-sm btn-warning"><em class="disApprove"></em></button></a>
              </div>
            <% }else if(data[i].is_approved) { %>
              <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-sm btn-success" disabled><em class="approve"></em></button>
              <button type="button" class="btn btn-sm btn-warning" disabled><em class="disApprove"></em></button>
              </div>
            <% }else if(data[i].is_attached) { %>
              <button type="button" class="btn btn-sm btn-block btn-info" disabled>ATTACHED</button>
            <% }else { %>
              <button type="button" class="btn btn-sm btn-block btn-outline-light" disabled>...</button>
            <% } %>

          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
</body>
<footer>
  <script src="/javascripts/script.js" async defer></script>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</footer>
</html>