<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head'); %>
  <title>GET_LETTER ADMIN</title>
</head>
<body style="background-color: #555;">
<div class="">
  <nav class="navbar navbar-expand-sm navbar-dark green darken-4">
    <a class="navbar-brand" href="#"><strong>G-L</strong></a>
      <a class="text-light" href="#"><strong>GET_LETTER</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-6"
      aria-controls="navbarSupportedContent-6" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent-6">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">LOGIN<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JKUAT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="false"
            aria-expanded="false"><%= NAMEofADMIN%></a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-6">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">FAQ'S</a> 
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="menu">
  <ul>
      <li><a class="item" href="">Home</a></li>
      <li><a class="item" href="#">E-LOG</a></li>
      <li><a class="item" href="#">FAQ</a></li>
      <li><a class="item" href="/dashboard/logout">LOGOUT</a></li>
  </ul>
</div>

<section class="container-fluid board2">
  <header class="container transparent header2">
    <em class="icon"></em>
  </header>
  <h4 class="display-4">All Students</h4>
  <div class="table-responsive ">
    <table class="table text-white ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Names</th>
          <th scope="col">Email</th>
          <th scope="col">Programme</th>
          <th scope="col">Intake-Year</th>
          <th scope="col">Status</th>
          <th scope="col">Approve</th>
        </tr>
      </thead>
      <tbody>
        <% for(i in data){ %>
          <% if(!(data[i].is_admin)) { %>
        <tr>
          <th scope="row"><%=  i %></th>
          <td><%= data[i].f_name %></td>
          <td><%= data[i].email %></td>
          <td><%= data[i].programme %></td>
          <td><%= data[i].intake_year %></td>

          <% if(data[i].is_requested) { %>
            <td>REQUESTED</td>
          <% }else if(data[i].is_approved) { %>
            <td>APPROVED</td>
          <% }else if(data[i].is_attached) { %>
            <td>ATTACHED</td>
          <% }else { %>
            <td>SLEEP...</td>
          <% } %>

          <td>
            <% if(data[i].is_requested) { %>
              <div class="btn-group btn-group-sm">
              <a href="/dashboard/admin/approve/<%= data[i].user_id%>"><button type="button" class="btn btn-sm btn-success"><em class="approve"></em></button></a> 
              <a href="/dashboard/admin/disApprove/<%= data[i].user_id%>"><button type="button" class="btn btn-sm btn-warning"><em class="disApprove"></em></button></a>
              </div>
            <% }else if(data[i].is_approved) { %>
              <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-sm btn-success" disabled><em class="approve"></em></button>
              <button type="button" class="btn btn-sm btn-warning" disabled><em class="disApprove"></em></button>
              </div>
            <% }else if(data[i].is_attached) { %>
              <button type="button" class="btn btn-sm btn-block btn-info" disabled>ATTACHED</button>
            <% }else { %>
              <button type="button" class="btn btn-sm btn-block btn-outline-light" disabled>...</button>
            <% } %>

          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
</body>
<footer>
  <%- include('./partials/_foot'); %>
</footer>
</html>