
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head') %>
    <title>GET_LETTER</title>
  </head>
  
<body style="background-color: #555;">
  <nav class="navbar navbar-expand-sm navbar-dark green darken-4">
    <a class="navbar-brand" href="#"><strong>G-L</strong></a>
      <a class="text-light" href="#"><strong>GET_LETTER</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-6"
      aria-controls="navbarSupportedContent-6" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent-6">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="false"
            aria-expanded="false"><%= cred.first_name %> <%= cred.last_name%></a>
          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-6">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="/dashboard/logout">Logout</a> 
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JKUAT</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  <div class="menu">
    <ul>
        <li><a class="item text-light" href="/">Home</a></li>
        <li><a class="item" href="#">E-LOG</a></li>
        <li><a class="item" href="/dashboard/dForm">Submit</a></li>
    </ul>
    </div>
  <div>
  <section class="container-fluid board">
    <header class="container transparent header1">
      <em class="icon"></em>
    </header>

    <main style="text-align:center;">
      <aside class="col">
          <h6>Download the attachment letter below. For any queries concering your letter please alias with your supervisor for help.</h6>
          <embed src="<%= link%>#toolbar=0&navpanes=0" type="application/pdf" width="auto" height="399px" /><br>
          <a href="<%= link%>" class="btn btn-light btn-sm" download>download your letter</a>
      </aside>
    </main>
  </section></div>


<footer> <%- include('./partials/_foot') %> </footer>
</body>
</html>