<%- include('./partials/_head') %>
<body class=" container default-color">
    
    <h1><%= message %></h1>
    <h2 class="brown-text"><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</body>

<%- include('./partials/_foot'); %>
