<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OnlineAMS</title>
    <%- include('./partials/_head'); %>
  </head>
  
  <div class="overlay2"></div>
  <div class="overlay"></div>
  <body class="bg-light bgImg">
    
    <div class="whole">
    <div class="container">
      <h1><%= messages %></h1>
      <% if (messages.length > 0) { %>
        <% for (let i in messages){ %>
         <div class="alert alert-danger"><%= messages[i] %></div>
         <% } %>
    <% } %>
  
      <form action="/authentication" method="POST" class="needs-validation" novalidate>
        <h3 class="display-4 text-light"><%= title%></h3>
        <hr style="margin-top: -10px;">
        <div class="form-group">
          <label for="username" class="text-light" >Username:</label>
          <input type="text" name="username" id="uname" class="form-control" placeholder="Username..." required value="<%=  %>">
          <div class="valid-feedback">OK</div>          
          <div class="invalid-feedback">Please Insert your UserName</div>
        </div>
        
        <div class="form-group">
          <label for="pwd" class="text-light">Password:</label>
          <input type="password" name="password" id="pwd" class="form-control" placeholder="Password..." required>
          <div class="valid-feedback">OK</div>          
          <div class="invalid-feedback">Please Insert Password</div>

        </div>
        <button type="submit" class="btn btn-md btn-dark btn-block">LOGIN</button>
        
      </form>
    </div>
    </div>

    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
<footer><%- include('./partials/_foot'); %></footer>
  </body>
</html>