<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GET_LETTER</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  
  <div class="overlay"></div>
  <body class="bg-light bgImg">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">G_L</a>
      <h3 class=" title">GET_LETTER</h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">JKUAT</a>
          </li>   
        </ul>
      </div> 
    </nav>
    <div class="whole">
    <div class="container">
      <form action="/authentication" method="POST" class="needs-validation" novalidate>
        <h3 class="display-4 text-light"><%= title%></h3>
        <hr style="margin-top: -10px;">
        <div class="form-group">
          <label for="username" class="text-light" >Username:</label>
          <input type="text" name="username" id="uname" class="form-control form-control-lg" placeholder="Username..." required value="<%=  %>">
          <div class="valid-feedback">OK</div>          
          <div class="invalid-feedback">Weka Username bana!!</div>
        </div>
        
        <div class="form-group">
          <label for="pwd" class="text-light">Password:</label>
          <input type="password" name="password" id="pwd" class="form-control form-control-lg" placeholder="Password..." required>
          <div class="valid-feedback">OK</div>          
          <div class="invalid-feedback">sasa unaachia password nani</div>

        </div>
        <input type="submit" class="btn btn-md btn-dark" value="login" >
        
      </form>
    </div>
    </div>

    <script>
      // Disable form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>

    <script src="/javascripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>